*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(rgb(255, 161, 19),#ff6600);
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    position:relative;
    max-width: 50px;
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    list-style: none;
}
header ul li a{
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 50px;
    text-decoration: none;
}
.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textBox{
    position: relative;
    max-width: 600px;
}
.content .textBox h2{
    color: rgb(250, 253, 253);
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}
.content .textBox h2 span{
    color: rgb(36, 85, 32);
    font-size: 1.2em;
    font-weight: 700;
}
.content .textBox p{
    color: rgb(17, 20, 20);
}
.content .textBox a{
    display: inline-block;
    margin-top: 20px;
    background-color: rgb(36, 85, 32);
    color: rgb(250, 253, 253);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: 500;
    padding: 8px 20px;
    border-radius: 40px; 
    letter-spacing: 1px;
    transition: transform .3s;
}
.content .textBox a:hover{
    transform: scale(1.1);
}
.content .imgBox{
    width: 500px;
    display: flex;
    justify-content: flex-start;
    padding-left: 30px;
    margin-bottom: 50px;
}
.content .imgBox img{
    max-width: 500px;
}
.thumb{
    position: absolute;
    left: 30%;
    bottom: 40px;
    transform: tranlateX(-50%);
    display: flex;
}
.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}
.thumb li:hover{
    transform: translateY(-15px);
}
.thumb li img{
    max-width: 100px;
}
.sci{
    position: absolute;
    top: 30%;
    right: 30px;
    transform: rotateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.sci li{
    list-style: none;
}
.sci li img{
    max-width: 30px;
    margin: 10px
}
.sci li a{
    filter: invert(1);
}
.circle{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: #0026ff;
clip-path: circle(600px at right 700px);
}
